var marker<%= camera.id %> = new google.maps.Marker({
  position: {lat: <%= camera.latitude %>, lng: <%= camera.longitude %>},
  map: map, title: "<%= camera.name %>",
  icon: {url: "http://maps.google.com/mapfiles/ms/icons/<%= user ? 'blue' : 'red' %>-dot.png"}
});
var infoWindow<%= camera.id %> = new google.maps.InfoWindow({
    content: "<p><%= camera.name %></p><div class=\"box-camera\" data-camera_url=\"<%= camera.url %>\"><%= j image_tag 'black.png' %></div><%= j link_to user ? 'Delete' : 'Add', user ? camera_path(camera) : cameras_path(camera_id: camera), class: "btn btn-#{user ? 'danger' : 'primary'} btn-camera", method: user ? :delete : :post %>",
    maxWidth: 300
});
infoWindow<%= camera.id %>.addListener('domready', function () {
  loadImages();
});
marker<%= camera.id %>.addListener('click', function () {
  if (currentInfoWindow) {
    currentInfoWindow.close()
  }
  infoWindow<%= camera.id %>.open(map, marker<%= camera.id %>);
  currentInfoWindow = infoWindow<%= camera.id %>
});
