<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #717D8E">
  <%= link_to 'Cameras Recife Improved', root_path, class: "navbar-brand", data: { turbolinks: false } %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item <%= 'active' if current_page? controller: 'cameras', action: 'index' %>">
          <%= link_to 'Dashboard', cameras_path, class: "nav-link", data: { turbolinks: false } %>
        </li>
        <li class="nav-item <%= 'active' if current_page? controller: 'cameras', action: 'list' %>">
          <%= link_to 'List', cameras_list_path, class: "nav-link" %>
        </li>
      <% end %>
      <!--li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li-->
    </ul>
    <ul class="navbar-nav mr-right">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Log out', destroy_user_session_path, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item ">
          <%= link_to 'Sign in', user_google_oauth2_omniauth_authorize_path, class: 'nav-link' %>
        </li>
      <% end %>
  </div>
</nav>